
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  background-color: #fff;
}

/* ---------- TOP NAVBAR ---------- */
.top-navbar {
  display: flex;
  /* justify-content: space; */
  gap: 400px;
  align-items: center;
  background-color: #f0ecec;
  color: #131313;
  padding: 8px 80px;
  /* font-size: 60px; */
  letter-spacing: 0.5px;
  height: 120px;
}
.top-navbar span{
  color: rgb(247, 152, 11);
}
.top-navbar ul {
  list-style: none;
  display: flex;
  font-size: 25px;
  gap:50px;
}

.top-navbar li {
  cursor: pointer;
  transition: color 0.3s ease;
}

.top-navbar li:hover {
  color: #f76b6a;
}

.navbar {
  display: flex;
  /* justify-content: space-evenly; */
  height: 150px;
  font-size: 20px;
  align-items: center;
  padding: 15px 30px;
  background-color: #ffffff;
  color: rgb(89, 86, 86);
  box-shadow: 0 2px 2px 2px rgb(132, 123, 123);
}

.navbar ul {
  list-style: none;
  display: flex;
  font-size: 22px;
  gap: 25px;
  margin-left: 200px;
  
}

.main{
  display: flex;
}
.left-text{
  margin: 50px;
}
.left-text h2{
  font-size: 40px;
}
.left-text h1{
  font-size: 50px;
}
.left-text p{
  font-size: 20px;
}
.left-text button{
  margin: 20px 0;
  padding: 20px;
}
.right-image{
  width: 500px;
}

.parent-card-container{
    display: flex;
    justify-content: space-around;
    height: 14rem;
}
.child-card-container{
    width: 14rem;
    height: 100%;
    max-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 40px beige ;
    border-radius: 4%;
}
.child-card-container img{
  width: 80px;
}
.child-card-container h5{
  font-size: 20px;
  padding: 10px;
}

